*.pyc
venv/
*.egg-info/
.vscode/
datasets/*.txt*
logs/
.idea
.DS_Store

archive/venv/
archive/*.egg-info/
archive/.vscode/
archive/datasets/*.txt*
archive/tutorials/datasets/*.txt*
archive/logs/
archive/.DS_Store

__pycache__/
log*/
*.npz
*.npy
events.out*
*.json
*.csv
*/*.pickle
*/*/*.pickle
experiments/data/*
experiments/test_ccs/*
data/cifar10/*
tutorials/data_batch*
data/*
*/*/model*.pkl
*/*/data_batch*

*.pkl
*.log
*.png