tensorflow>=2.4.0
torch==1.13.0
matplotlib
numpy
scikit-learn
seaborn
setuptools
scipy
pandas
jinja2
pillow
opacus
torchvision==0.14.0
PyYAML
# git+https://github.com/wbaek/torchskeleton.git@v0.2.1_dawnbench_cifar10_release
pytest